<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static\styles.css">
    <meta charset="UTF-8">
    <title>Delete Movie - MovieWeb App</title>
</head>
<body>
<h1 class="title">Delete Movie</h1>
<p>Are you sure you want to delete the following movie?</p>
<p>Name: {{ movie['name'] }}</p>
<p>Director: {{ movie['director'] }}</p>
<p>Year: {{ movie['year'] }}</p>
<p>Rating: {{ movie['rating'] }}</p>
<form action="/users/{{ user_id }}/delete_movie/{{ movie['id'] }}" method="POST">
    <input type="submit" value="Delete">
</form>
</body>
</html>
