<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static\styles.css">
    <meta charset="UTF-8">
    <title>User's Movies - MovieWeb App</title>
</head>
<body>
<h1 class="title">User's Movies</h1>
<h2><a href="/users/{{ user_id }}/add_movie">Add a movie?</a></h2>
<ul>
    {% if user_movies %}
    {% for movie in user_movies %}
    <li>
        {{ movie['title'] }} - {{ movie['director'] }} ({{ movie['year'] }}) - Rating: {{ movie['rating'] }}
        <br><a href="/users/{{ user_id }}/update_movie/{{ movie['id'] }}">Update Movie</a>
        <br><a href="/users/{{ user_id }}/delete_movie/{{ movie['id'] }}">Delete Movie</a>
    </li>
    {% endfor %}
    {% else %}
    <li>No movies found for this user.</li>
    {% endif %}
</ul>
</body>
</html>
